repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-docstring-first
  - id: check-yaml
  - id: debug-statements
  - id: check-ast

- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/PyCQA/flake8/
  rev: 7.0.0
  hooks:
  - id: flake8
    additional_dependencies: [flake8-docstrings]

- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]
    #    additional_dependencies: [toml]

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy
    args: [--strict, --pretty, --show-error-codes]
    additional_dependencies:
      - "aiomqtt==1.2.1"
      - "pytest-asyncio==0.23.6"
      - "types-paho-mqtt==1.6.0.20240321"
      - "homeassistant-stubs==2024.5.2"
