[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "clappform-integrations"
version = "1.0.30"
authors= [
    { name="Clappform B.V.", email="info@clappform.com" },
]
description = "Clappform Python API wrapper"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests==2.31.0",
    "pandas==1.5.2",
    "xmltodict==0.13.0",
    "beautifulsoup4==4.12.2"
]

[project.urls]
"Documentation" = "https://clappform.readthedocs.io"
"Source" = "https://github.com/ClappFormOrg/clappform-integrations"

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.pylint]
max-line-length = 88
disable = [
]
