[build-system]
requires = [
    "build",
    "setuptools >= 42",
    "wheel",
    "ninja",
    "cmake >= 3.15",
    "nanobind >= 1.9.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "datamana"
version = "0.0.13"
description = "Dataset Manager"
readme = "README.md"
authors = [
    {name = "Jiau Zhang", email = "jiauzhang@163.com"},
]
classifiers = [
    'Intended Audience :: Developers',
    'Topic :: Scientific/Engineering :: Artificial Intelligence',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.8',
]
keywords = [
    'Deep Learning',
    'Dataset Manager',
    'Artificial Intelligence',
]
requires-python = ">= 3.8"
dependencies = [
    "numpy",
]

[project.urls]
Homepage = "https://github.com/jiauzhang/datamana"

[tool.setuptools]
packages = ["datamana"]
