name: Lint & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
  call-linting:
    name: Linting
    uses: ./.github/workflows/linting.yml
  call-test:
    name: Test
    needs: call-linting
    uses: ./.github/workflows/test.yml

